<!-- Latest compiled and minified CSS -->
<html>
<head>
	{%load staticfiles%}
<link rel="stylesheet" href="{%static 'winit/Css/bootstrap.min.css'%}">

<!-- jQuery library -->
<script src="{%static 'winit/Js/jquery.min.js'%}"></script>

<!-- Latest compiled JavaScript -->
<script src="{%static 'winit/Js/bootstrap.min.js'%}"></script>
	<link rel = "stylesheet" type = "text/css" href="{%static 'winit/Css/stylecompetitionspage.css'%}">
</head>
<body>
	<div class= "title" >
		<h1>COMPETITIONS</h1>
	</div>
	<div class="m1">
		<div class= "main" >
			<div class = "maintext">
				<img src = "{%static 'winit/Images/11.jpg'%}">
				<div class = "text">			
					<p>Why compete? In order to succeed, people must compete. Competition can bring out the best in everyone. During a single day, people in some way compete with themselves or with others.Competitions are about a lot more than great prizes and having fun. They allow participants to learn, show their certified skills, compare their results and share their talents with employers.</p></div>
			</div>
			<div class="firstimg">
				<img src= "{%static 'winit/Images/12.jpg'%}" onclick="location='http://www.fedex.com/in/'"></div>
		<!-- 	<div class = "secndimg">
			<img src= "13.png" onclick="location='https://sqore.com/'"></div> -->
		</div>
		<div class="secondmain">
			<p>HOES DOES IT WORK?</p>
			<br>
			<p>Register yourself at our WIN IT <a href="signup.html">SIGN UP</a> page and compete with others in the essay writing competition.The Analytical Writing measure tests your critical thinking and analytical writing skills. It assesses your ability to articulate and support complex ideas, construct and evaluate arguments, and sustain a focused and coherent discussion.</p>
			<br>
			<p> It does not assess specific content knowledge.The Issue task presents an opinion on an issue of general interest followed by specific instructions on how to respond to that issue. You are required to evaluate the issue, consider its complexities and develop an argument with reasons and examples to support your views.</p>
			<br>
			<p>you to construct your own argument by taking a position and providing evidence supporting your views on an issue, and the other requires you to evaluate someone else's argument by assessing its claims and evaluating the evidence it provides.</p><br>
			<p>You are expected to complete the task in 30 minutes and you essay will be evaluated by our panelists.Top 10 best essays will be displayed on our website.Follow Us on <a href="winnerpage.html">Winner's Page</a> on which polling will be conducted.Every individual who visits our site can read the top 10 essays and give their votes to the best one as per their choice.And final results will be declared by the end of every weekend.Stay Tuned for you results.</p><br>
			<p>One best Essay with highest votes will be declared Winner Of the weekly competition.</p>
		</div>
	</div>
</body>
</html>
