<html>
<head>
	<link rel = "stylesheet" type = "text/css" href="forgot.css">
	<title>forgot page</title>
</head>
<body topmargin="250" leftmargin="500">
	<form action="" method="">
	<div class = "log">
		E-MAIL:<input hspace="40" type="email" name="usremail"><br><br>
		New-password:<input hspace="10" id="password" name="password"  type="password"><br><br>
		Re-Type password:<input hspace="10" id="password" name="password"  type="password"><br><br>
		<input name="submit" type="submit" value=" send ">
	</div>
</body>
</html>
