<html>
<head>
	<link rel = "stylesheet" type = "text/css" href="login.css">
	<title>login page</title>
</head>
<body topmargin="250" leftmargin="500">
	<form action="" method="">
		<div class="log">
		<h2>LOGIN HERE</h2>
		E-mail:<input hspace="25"type="email" name="usermail"><br><br>
		password:<input hspace="10" id="password" name="password"  type="password">
		<br><br>
		
		<label><input type="checkbox"> Remember me</label>
		<input hspace="120" name="submit" type="submit" value=" login ">
		<br>

		<a href="forgot.html"><h3 >Forgot your password ?</h3></a>
	</div>
</form>
</body>
</html>
