<html>
<head>
	<link rel = "stylesheet" type = "text/css" href="start.css"> 
	<title>start page </title>
	
	<script type = "text/javascript" src ="jquery-1.4.4.min.js"></script>
	<script type = "text/javascript" src ="countdown.js"></script>

  
</head>
<body topmargin="250" leftmargin="500">
	<form action="exam.html">
<div class = "log">
			<h2>Select Any Topic Here  </h2>
			Topic: 
			<select name="questions">
			<option value="Questions">Questions</option>
    		<option value="If your dog or cat could talk">If your dog or cat could talk</option>
    		<option value="The greatest discovery">The greatest discovery</option>
    		<option value="The proudest moment of your life">The proudest moment of your life</option>
    		<option value="An accident which changed everything">An accident which changed everything</option>
    		<option value="How you would spend a million dollars">How you would spend a million dollars</option>
    		<option value="A near death experience">A near death experience</option>
    		<option value="A difficult choice you have made">A difficult choice you have made</option>
    		<option value="If you could change someone’s life">If you could change someone’s life</option>
    		<option value="A book that has changed your life">A book that has changed your life</option>
    		<option value="A failure you experienced">A failure you experienced</option>

  			</select>
  			<br><br>

		
		<input name="submit" type="submit" value=" start ">
	</div>
</form>
</body>
</html>