<html>
<head>
	<link rel = "stylesheet" type = "text/css" href="exam.css">
</head>
<body topmargin="250" leftmargin="500">
	<form action="" method="">
<div class = "log">
	<h3><font color="white"> Thank you for your participation</font></h3>
	<p><font color="white">we will get back to you with the results by the following sunday</font></p><br><br>
	<form action=""
	<a href="Register.html"><input type="submit" type="submit" value="Home"></a>
	<input type="submit" type="submit" value="logout">
</div>
</body>
</head>
</html>
